<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 7 days"
    ExpiresByType text/javascript "access plus 7 days"
    ExpiresByType application/x-javascript "access plus 7 days"
    ExpiresByType image/gif "access plus 7 days"
    ExpiresByType image/jpg "access plus 7 days"
    ExpiresByType image/jpeg "access plus 7 days"
    ExpiresByType image/pjpeg "access plus 7 days"
    ExpiresByType image/png "access plus 7 days"
    ExpiresByType image/x-png "access plus 7 days"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # アプリケーションの保護
    RewriteRule ^(?:config|system|application)\b.* index.php/$0 [L]

    # GZIP対応
    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteCond %{REQUEST_FILENAME} !\.gz$
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule .+ %{REQUEST_URI}.gz [L]

    # URL書き換え
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php/$0 [PT]
</IfModule>

# javascript 圧縮対応
<FilesMatch "\.js\.gz$">
    ForceType application/x-javascript
    AddEncoding x-gzip .gz
</FilesMatch>

# css 圧縮対応
<FilesMatch "\.css\.gz$">
    ForceType text/css
    AddEncoding x-gzip .gz
</FilesMatch>

# 非公開ファイルのアクセス制限
<Files .*>
    Order Deny,Allow
    Deny From All
</Files>